{% extends 'layouts/dashboard_layouts.twig' %}

{% block dashboard_content %}
	<div class="container text-center pt25">
		<p class="form-title">Masukkan Pesanan</p>
		<p>&nbsp;</p>

		<div class="order-wrapper">
			<form action="" method="get" accept-charset="utf-8">
				<div class="form-group">
					<label for="nama-produk">Nama Produk</label>
					<input type="text" name="nama-produk[]" id="nama-produk" value="" class="form-control">
				</div>
			</form>
		</div>
	</div>
{% endblock %}