<!DOCTYPE html>
<html>
<head></head>
<body>
    <p>Hai</p>
    <p>klik link untuk melakukan aktivasi</p>
    <a href="{{ host }}/reset/{{ token }}">link aktivasi</a>
    <p>terima kasih</p>
</body>
</html>
