<!DOCTYPE html>
<html>
<head></head>
<body>
    <form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
        <div class="form-group">
          <input type="text" name="nama-barang" value="{{ data.namaBarang }}">
        </div>
        <div class="form-group">
          <input type="text" name="description" value="{{ data.description }}">
        </div>
        <div class="form-group">
            <input type="file" name="barang-property" value="{{ data.barangProperty }}">
        </div>
        <div class="form-group">
            <input type="submit" value="UPDATE">
        </div>
    </form>
</body>
</html>